nav {
  width: 100%;
  height: 80px;
  padding: 10px;
  background-color: var(--secondary);
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}
/*header logo */

.logo {
  display: flex;
  justify-content: baseline;
  width: 400px;
}
.logo h1 {
  font-size: 2rem;
}
.logo h1 span {
  color: var(--primary);
}
.logo img {
  height: 40px;
}
/*header Searchbar */
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
}
.search input {
  width: 60%;
  height: 45px;
  padding: 10px;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-color: var(--primary);
}
.search input:focus {
  outline-color: var(--primary);
}
.search button {
  padding: 5px 7px;
  height: 45px;
  cursor: pointer;
  background-color: var(--primary);
  border-color: var(--primary);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.search button img {
  width: 25px;
  height: 25px;
}
/*header badge */
.badge {
  margin-right: 3rem;
  width: 150px;
}

.badge button {
  padding: 0px 15px;
  border-radius: 8px;
  background-color: var(--primary);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cart-icon {
  position: relative;
}
.badge-count {
  position: absolute;
  top: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: var(--secondary);
  background-color: #d9534f;
  font-weight: 500;
  text-align: center;
  right: 38%;
  left: 38%;
}
.badge button img {
  height: 45px;
  width: 45px;
  margin: 2px 5px 0 0;
  color: #fff;
}
.badge-cart {
  font-size: 1.2rem;
  font-weight: 500;
}

/*header image */
.main-image {
  width: 100%;
  height: 20rem;

  overflow: hidden;
  position: relative;
}
.main-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  /* transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem); */
}
.welcome-massage {
  position: absolute;
  z-index: 5;
  margin: auto;
  top: 0;
  text-align: center;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--secondary2);
  color: #fff;
  padding: 20px 15px;
  width: 600px;
  height: fit-content;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}
.welcome-massage h2 {
  font-size: 2rem;
}
.welcome-massage p {
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}
.welcome-massage span {
  color: var(--primary);
}
