.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 400px;
  margin: 1rem 1rem;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-image img {
  object-fit: fill;
  max-width: 100%;
  max-height: 100%;
}
.product-info {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: space-between;
}
.product-info p {
  font-size: 0.8rem;
}
.product-info span {
  display: block;
  padding-bottom: 8px;
}
.product-information span:last-child {
  color: var(--link);
  font-weight: 800;
}
